<section class="container mx-auto px-4 sectionMargin">
    <div class="mx-auto px-10 md:px-4 mb-12">
        {% if repeatable.defaultForm.heading %}
        <h1 class="text-center">{{ repeatable.defaultForm.heading | safe}}</h1>
        {% endif %}
    </div>
    <div class="flex flex-col justify-center lg:flex-row gap-8">
        {% if repeatable.defaultForm.content %}
        <div class="w-full lg:w-1/2 gap-y-8 flex flex-col justify-between">
            <div>
                {% if repeatable.defaultForm.content.text %}
                <div class="text-lead mb-8">
                    {{ repeatable.defaultForm.content.text | markdownify | safe }}
                </div>
                {% endif %}
                <div class="flex gap-x-8 flex-wrap">
                    {% for contact in repeatable.defaultForm.content.contacts %}
                    <div class="flex flex-col">
                        <h2>{{ contact.name | safe }}</h2>
                        <div href="tel:+44 0179312345">{{ contact.contact | safe }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if repeatable.defaultForm.content.image %}
            <div class="w-5/6 mx-auto lg:mx-0">
                <img src="{{ repeatable.defaultForm.content.image.image }}" class="w-full h-full" alt="{{ repeatable.defaultForm.content.imageAlt }}">
            </div>
            {% endif %}
        </div>
        {% endif %}

        <div class="w-full lg:w-1/2 border-2 border-lead p-8">
            <form name="{{ repeatable.defaultForm.form.formName}}" method="POST" data-netlify="true" class="flex flex-col gap-y-4 justify-between">
<div class="flex flex-wrap gap-4 justify-between">
                {% for field in repeatable.defaultForm.form.fields %}
                <div class="w-full xl:flex-1 xl:min-w-[45%]">
                    <label>{{ field.label | safe }}<br> <input class="w-full mt-2 bg-lead border-2 border-lead bg-transparent p-2"
                            type="{{ field.type }}" name="{{ field.name }}" /></label>
                </div>
                {% endfor %}
                </div>
                <div class="relative">
                    <label>Message<br><textarea class="w-full h-48 mt-2 border-2 border-lead bg-transparent p-2"
                            name="messsage"></textarea></label>
                </div>
                <div class="flex justify-end">
                    <button type="submit" class="primaryBtn dark mt-8 relative bottom-0 right-0">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>