<footer class="bg-yellow-400">
    <div>Created by <a class="link" href="https://moonface.ga">MoonFace</a></div>
    <div>Released under the <a class="link" href="https://github.com/moonfacedesign/eleventy-starter/blob/main/LICENSE">Don't Be a D*ck License</a></div>
</footer>