<footer class="bg-lead mt-20 lg:mt-32 pb-20 text-ivory px-8 md:px-20 lg:px-32 dark-bg">
    <ul class="flex flex-row justify-between mt-12 gap-12 flex-wrap">
    
 <li class="footerLogo">
        <img class="flex-grow w-auto h-20 lg:h-24 py-1 md:py-0 -ml-4 lg:ml-0" src="/static/Lavean-noBg.svg" alt="Lavean logo">
</li>
        <li class="max-w-[25ch]">
            <h2 class="mb-4">{{ footer.colOneHeading }}</h2>

            <ul class="leading-loose">
                {% for item in footer.columnOne %}
                <li>
                    <a class="footer-item hover:opacity-70 ease-in duration-75" href="{{ item.url }}">{{
                        item.displayText }}</a>
                </li>
                {% endfor %}
            </ul>

        </li>

        <li class="max-w-[25ch]">
            <h2 class="mb-4">{{ footer.colTwoHeading }}</h2>

            <ul class="leading-loose">
                {% for item in footer.columnTwo %}
                <li>
                    <a class="footer-item hover:opacity-70 ease-in duration-75" href="{{ item.url }}">{{
                        item.displayText }}</a>
                </li>
                {% endfor %}
            </ul>

        </li>

        <li class="max-w-[25ch]">
            <h2 class="mb-4">{{ footer.colThreeHeading }}</h2>

            <ul class="leading-loose">
                {% for item in footer.columnThree %}
                <li>
                    <a class="footer-item hover:opacity-70 ease-in duration-75	" href="{{ item.url }}">{{
                        item.displayText }}</a>
                </li>
                {% endfor %}
            </ul>

        </li>

    </ul>

    <div class="flex flex-row justify-center md:justify-between flex-wrap gap-x-8 gap-y-4 items-center mt-16 mx-auto">
        <div>&copy; <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>&nbsp;&nbsp;Lavean Services Ltd</div>
        <div class="flex items-center gap-2">
            <a href="https://moonface.digital" class="credit">
                Website by Moonface
            </a>
            <img class="w-8 text-ivory" src="/static/mf-ico.svg" alt="Moonface logo">
        </div>
    </div>
</footer>

<style>
    @media  (max-width: 896px) {
        .footerLogo {
            width: 100%;
        }
    }
</style>