<div class="hidden xl:block h-screen min-h-[800px] w-full bg-lead relative -mt-32 lg:-mt-44 mb-12 lg:mb-24">
    <div class="grid place-items-center w-full h-full absolute pointer-events-none mt-4">
        <img class="block w-[45%] opacity-30 pointer-events-none" src="/static/eclipse.svg" alt="">
    </div>
    <div class="container mx-auto relative bg-lead">
        <div class="md:grid md:place-items-center md:w-full md:h-full md:absolute flex justify-center">
            <img class="block xl:hidden absolute w-3/4 opacity-30 pointer-events-none self-start mt-36 lg:mt-48"
                src="/static/water-tank.jpg" alt="water tank">
        </div>
        <div class="px-4 grid grid-areas-heroSlim xl:grid-areas-hero absolute mt-32 lg:mt-44">
            <h1 class="text-ivory uppercase grid-in-text max-w-[18ch] xl:w-[11ch] leading-tight"><i>High Quality
                </i>water treatment
                for <i>your </i>business
            </h1>
            <div class="inline-block row-start-btn">
                <a href="/contact" class="primaryBtn mt-4">Contact us</a>
            </div>
            <div class="w-3/4 self-center justify-self-end">
                <img src="/static/water-tank.jpg" alt="">
            </div>
            <div class="mt-4 text-right text-ivory max-w-[50ch] justify-self-end">
                <h3><i>"Lavean is a brilliant company that did many great things for my equally great company."</i>
                </h3>
                <p class="text-sm tracking-tight font-light leading-none mt-4">Johnathan Johnathan, hello inc.</p>
            </div>
            <div></div>
        </div>
    </div>
</div>

<!--Mobile Hero-->

<div class="block xl:hidden h-auto w-full bg-lead -mt-8 lg:-mt-12 pt-8 pb-12 relative mb-20 lg:mb-32">
    <div class="container mx-auto px-4 relative" id="mobileHero">
        <div class="flex flex-col relative z-10">
            <h1 class="inline-block text-ivory uppercase max-w-[18ch] xl:w-[11ch] leading-tight"><i>High Quality
                </i>water treatment
                for <i>your </i>business
            </h1>
            <div class="inline-block">
                <a href="/contact" class="primaryBtn mt-4">Contact us</a>
            </div>
        </div>
        <div class="absolute inset-0 m-8 -mt-4 opacity-30 overflow-hidden">
        <img src="/static/water-tank.jpg" alt="">
        </div>
    </div>
</div>