<section class="container mx-auto px-4 sectionMargin">
    <div class="w-4/5 mx-auto px-10 md:px-4 mb-12">
        {% if type.heading %}
        <h1 class="text-center">{{ type.heading | safe}}</h1>
        {% endif %}
    </div>
    <div class="flex flex-col justify-center lg:flex-row gap-8">
        {% if type.content %}
        <div class="w-full lg:w-1/2 gap-y-8 flex flex-col justify-between">
            <div>
                {% if type.content.text %}
                <div class="text-lead">
                    {{ type.content.text | markdownify | safe }}
                </div>
                {% endif %}
                <div class="flex gap-x-8 flex-wrap mt-8">
                    {% for contact in type.content.contacts %}
                    <div class="flex flex-col">
                        <h2>{{ contact.name | safe }}</h2>
                        <div href="tel:+44 0179312345">{{ contact.contact | safe }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if type.content.image %}
            <div class="w-5/6 mx-auto lg:mx-0">
                <img src="{{ type.content.image.image }}" class="w-full h-full" alt="{{ type.content.image.imageAlt }}">
            </div>
            {% endif %}
        </div>
        {% endif %}

        <div class="w-full lg:w-1/2 border-2 border-lead p-8">
            <form name="{{ type.formName}}" method="POST" data-netlify="true">
                <div class="w-full flex lg:flex-row flex-col gap-4">
                {% for field in type.fields %}
                <div class="lg:w-1/2 w-full">
                    <label>{{ field.input.label }}<br> <input class="w-full mt-2 bg-lead border-2 border-lead bg-transparent p-2"
                            type="{{ field.input.type }}" name="{{ field.input.name }}" /></label>
                </div>
                {% endfor %}
                </div>
                <div class="mt-8 relative">
                    <label>Message<br><textarea class="w-full h-48 mt-2 border-2 border-lead bg-transparent p-2"
                            name="messsage"></textarea></label>
                </div>
                <div class="flex justify-end">
                    <button type="submit" class="primaryBtn dark mt-8 relative bottom-0 right-0">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>