<section class="container mx-auto px-4 sectionMargin">
    <div class="w-4/5 mx-auto px-10 md:px-4 mb-12">
      {% if type.content %}
        <h1 class="text-center">{{ type.heading | safe }}</h1>
      {% endif %}
    </div>
    <div class="flex flex-col lg:flex-row justify-between">
        <ul class="services no-list">
        {% for item in type.services %}
        <li class="mb-24 relative">
                <img class="servicesIcon" src="{{ item.service.serviceIcon.serviceIconImg | safe }}" alt="{{ item.service.serviceIcon.serviceIconAlt | safe }}">
                <h2 class="">{{ item.service.serviceName | safe }}</h2>
                <p class="max-w-[50ch]">
                    {{ item.service.serviceDesc | safe }}
                </p>
            </li>
        {% endfor %}
        </ul>
        {% if type.button %}
        <div class="inline-flex justify-end items-end mt-12">
            <a href="/services" class="lg:mb-12 circularBtn dark rotate">{{ type.button | safe}}</a>
        </div>
      {% endif %}
    </div>
</section>