<section class="bg-lead sliderCont clear-both">
    <div class="mx-auto sectionMargin pt-8 pb-8 lg:pt-16 lg:pb-12 w-auto max-w-[97vw]">
        <div class="px-4 w-auto mx-auto text-center">
            {% if type.heading %}
            <h1 class="text-ivory">{{ type.heading | safe }}</h1>
            {% endif %}
        </div>
        <div class="siema pt-8 overflow-hidden">

            {% for item in type.slides %}
            <div class="border-2 border-ivory p-8 mx-4 my-2 flex flex-col place-content-between justify-between h-[30ch]">
                <h2 class="text-ivory">
                    "{{ item.slideQuote | safe }}"
                </h2>
                <small class="text-ivory opacity-40 flex items-center gap-x-4 pt-4">
                    <p class="flex-shrink-0 opacity-50	">{{ item.slideName | safe }}, &nbsp; {{ item.slideCompany | safe }}</p>
                    <div class="h-0.5 flex-grow bg-ivory opacity-50 inline-block"></div>
                </small>
            </div>
            {% endfor%}

        </div>
        <div class="block lg:hidden text-center text-ivory opacity-40 mx-auto w-full px-4">
            Psst.. you can drag to see more
        </div>
        <div
            class="hidden opacity-0 dragVisual bg-ivory z-10 text-lead w-20 h-20 rounded-full pointer-events-none absolute top-0 left-0 justify-center items-center overflow-x-hidden">
            Drag</div>

    </div>
</section>