<section class="container mx-auto px-4 h-auto clear-both">
<figure class="md:mb-16 lg:mb-24 w-5/6 mx-auto mb-4 md:w-1/2 {{ 'md:float-right' if type.flip == true }} {{ 'md:float-left' if type.flip == false }} md:mb-4 {{ 'md:ml-6' if type.flip == true }} {{ 'md:mr-6' if type.flip == false }} mt-2">
<img src="{{ type.image.image | safe}}" alt="water tank">
{% if type.image.caption %}
<figcaption><p class="text-sm tracking-tight leading-none mt-2 {{ 'md:text-right' if type.flip == true }}">{{ type.image.caption | safe}}</p></figcaption>
{% endif %}
</figure>
{{ type.text | markdownify | safe }}
</div>
</section>