<!doctype html>
<html class="bg-lead" {% if section %} data-current="{{ section }}" {% endif %} lang="en">


{% include ".components/head.njk" %}

<body class="bg-ivory">
	<header>
		{% include ".components/nav.njk" %}
	</header>
	<main class="mt-32 lg:mt-44">
		{{ layoutContent | safe }}
	</main>

	{% include ".components/footer.njk" %}

</body>

</html>