---
layout: base.njk
section: blog
permalink: /blog/index.html
---
<div class="repsonsivePaddingCont mb-24 md:mb-8">
    <h1 class="text-center">{{ title }}</h1>
</div>
<div class="repsonsivePaddingCont above-lg:flex mt-16 above-lg:flex-row lg:whitespace-pre-line">

    <div class="mb-10 w-9.5/10">
        {% set postslist = collections.post %}
        {% include ".components/postslist.njk" %}
    </div>
</div>