---
layout: base.njk
section: home
sectionTitle: Services
---

{% include ".components/hero.njk" %}

<section class="container mx-auto px-4 mt-12 lg:mt-24">
    <div class="w-4/5 mx-auto px-10 md:px-4 mb-12 md:mb-10">
        <h1 class="text-center">{{ sectionTitle | safe }}</h1>
    </div>
    <div class="flex flex-col lg:flex-row justify-between">
        <ul class="last:mb-0">
            <li class="mb-24 relative">
                <img class="servicesIcon" src="/static/water-drop.svg" alt="water drop">
                <h2 class="uppercase">Water Treatment</h2>
                <p class="max-w-[50ch]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </li>
            <li class="mb-24 relative">
                <img class="servicesIcon" src="/static/water-drop.svg" alt="water drop">
                <h2 class="uppercase">Environmental Services</h2>
                <p class="max-w-[50ch]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </li>
            <li class="mb-24 relative">
                <img class="servicesIcon" src="/static/water-drop.svg" alt="water drop">
                <h2 class="uppercase">Plumbing</h2>
                <p class="max-w-[50ch]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </li>
        </ul>
        <div class="inline-block justify-self-end lg:self-end lg:pb-32">
            <a href="/services" class="circularBtn dark rotate">View more</a>
        </div>
    </div>
</section>

{{ layoutContent | safe }}