---
layout: base.njk
section: home
---

<div class="h-screen min-f-full w-full bg-lead -mt-32 lg:-mt-44 relative">
    <div class="grid place-items-center w-full h-full absolute pointer-events-none">
        <img class="hidden xl:block absolute w-1/2 opacity-30 pointer-events-none" src="/static/eclipse.svg" alt="">
    </div>
    <div class="container mx-auto relative bg-lead">
        <div class="md:grid md:place-items-center md:w-full md:h-full md:absolute flex justify-center">
            <img class="block xl:hidden absolute w-3/4 opacity-30 pointer-events-none self-start mt-36 lg:mt-48"
                src="/static/water-tank.jpg" alt="">
        </div>
        <div class="px-4 grid grid-areas-heroSlim xl:grid-areas-hero absolute mt-32 lg:mt-44">
            <h1 class="text-ivory uppercase grid-in-text max-w-[18ch] xl:w-[11ch] leading-tight"><i>High Quality
                </i>water treatment
                for <i>your </i>business
            </h1>
            <div class="inline-block grid-in-btn xl:col-start-btn">
                <a href="/contact" class="primaryBtn mt-4 lg:mt-8">Contact us</a>
            </div>
            <div class="flex flex-col justify-self-end">
                <img class="hidden xl:block xl:grid-in-img1 w-3/4 justify-items-center self-center"
                    src="/static/water-tank.jpg" alt="">
                <div class="xl:grid-in-quote xl:row-start-btn mt-8 text-right text-ivory max-w-[50ch] justify-self-end">
                    <h3><i>"at things for my equally great company."</i>
                    </h3>
                    <p class="text-sm tracking-tight font-light leading-none mt-4">Johnathan Johnathan, hello inc.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ layoutContent | safe }}