---
layout: base.njk
section: page
---
<div class="w-4/5 mx-auto px-10 md:px-4 mb-12 md:mb-10">
    <h1 class="text-center">{{ title }}</h1>
</div>

<div class="container mx-auto px-4">
    {{ layoutContent | safe }}
</div>