---
layout: base.njk
section: services
---
<div class="w-4/5 mx-auto px-10 md:px-4">
    <h1 class="text-center">{{ title }}</h1>
</div>

<section class="mt-24">
    <div class="w-max mx-auto text-industrial-yellow uppercase">Development</div>
    <div class="flex flex-row lg:flex-col-reverse repsonsivePaddingCont gap-20 mt-16">
        <div class="w-1/2 lg:w-full h-full bg-birthday-pink p-16 sticky top-20">
            <h2 class="text-center mb-4">Our development Flow</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Neque vitae
                tempus quam pellentesque nec nam aliquam sem. Nunc lobortis mattis aliquam faucibus purus in massa
                tempor. Felis donec et odio pellentesque. Non quam lacus suspendisse faucibus interdum. Aliquam nulla
                facilisi cras fermentum odio eu feugiat pretium nibh. Vel elit scelerisque mauris pellentesque pulvinar
                pellentesque habitant. Eget felis eget nunc lobortis. Pulvinar neque laoreet suspendisse interdum
                consectetur libero. Leo vel orci porta non pulvinar neque laoreet suspendisse interdum. Donec adipiscing
                tristique risus nec feugiat in fermentum posuere urna. Malesuada bibendum arcu vitae elementum curabitur
                vitae nunc sed. Varius vel pharetra vel turpis nunc. Turpis cursus in hac habitasse. Pellentesque
                pulvinar pellentesque habitant morbi tristique senectus et netus.

                Nec ultrices dui sapien eget mi proin. Phasellus vestibulum lorem sed risus. Quis commodo odio aenean
                sed adipiscing diam donec. Pellentesque sit amet porttitor eget dolor morbi. Viverra aliquet eget sit
                amet tellus. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor. Eget duis at tellus.
            </p>
        </div>
        <ul class="flex flex-col w-1/2 lg:w-full h-full">
            <li class="w-full p-8 mb-10">
                <h2 class="mb-4">Front-end development</h2>
                Using the latest web technologies to maximise human experiences.
            </li>
            <li class="w-full p-8 mb-10 ">
                <h2 class="mb-4">MoonFace Cockpit</h2>
                Use our intuative interface to edit your site.
            </li>
            <li class="w-full p-8 mb-10 ">
                <h2 class="mb-4">Quality Assurance</h2>
                Effective solutions for your web product.
            </li>
        </ul>
    </div>

    </div>
    </div>

</section>

<section class="mt-24">
    <div class="w-max mx-auto text-industrial-yellow uppercase">Design</div>
    <div class="flex flex-row lg:flex-col-reverse repsonsivePaddingCont gap-20 mt-16">
        <div class="w-1/2 lg:w-full h-full bg-birthday-pink p-16 sticky top-20">
            <h2 class="text-center">Our design Flow</h2>
        </div>
        <ul class="flex flex-col w-1/2 lg:w-full h-full">
            <li class="w-full p-8 mb-10">
                <h2 class="mb-4">Website Design</h2>
                Using the latest web technologies to maximise human experiences.
            </li>
            <li class="w-full p-8 mb-10">
                <h2 class="mb-4">HX, HI flows & interactions</h2>
                Use our intuative interface to edit your site.
            </li>
            <li class="w-full p-8 mb-10">
                <h2 class="mb-4">Logo/Branding</h2>
                Effective solutions for your web product.
            </li>
        </ul>
    </div>

    </div>
    </div>

</section>

<div class="w-4/5 mx-auto">
    {{ layoutContent | safe }}
</div>