---
layout: base.njk
section: works
---
<div class="w-4/5 mx-auto px-10 md:px-4 mb-24 md:mb-8">
    <h1 class="text-center">{{ title }}</h1>
</div>

<section class="w-full">
    <article class="w-full mt-16 flex flex-row lg:flex-col mb-16">
        <div class="w-5/12 lg:w-full">
            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 914.286 1005.286">
                <defs>
                    <filter id="Rectangle_690" x="91" y="91" width="467" height="742" filterUnits="userSpaceOnUse">
                        <feOffset dx="10" dy="10" input="SourceAlpha" />
                        <feGaussianBlur result="blur" />
                        <feFlood flood-color="#ffeae6" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                </defs>
                <g id="first-item" transform="translate(0 -1646.143)">
                    <g id="Rectangle_686" data-name="Rectangle 686" transform="translate(0 1646.143)" fill="#fee"
                        stroke="#fee" stroke-width="1">
                        <rect width="731" height="731" stroke="none" />
                        <rect x="0.5" y="0.5" width="730" height="730" fill="none" />
                    </g>
                    <g id="Rectangle_687" data-name="Rectangle 687" transform="translate(183.286 1920.429)" fill="#fee"
                        stroke="#fee" stroke-width="1">
                        <rect width="731" height="731" stroke="none" />
                        <rect x="0.5" y="0.5" width="730" height="730" fill="none" />
                    </g>
                    <image id="test3" preserveAspectRatio="xMidYMax slice"
                        href="/static/9e22313598bc368a2aa4e02c0734de98.webp" width="457" height="732"
                        transform="translate(365.857 1828)" />
                    <g id="testt" transform="matrix(1, 0, 0, 1, 0, 1646.14)" filter="url(#Rectangle_690)">
                        <image preserveAspectRatio="xMidYMin slice" href="/static/9e22313598bc368a2aa4e02c0734de98.webp"
                            width="457" height="732" transform="translate(91 91)" fill="#181917" />
                    </g>
                </g>
            </svg>


        </div>
        <div class="above-lg:mt-28 above-lg:ml-20 mx-4 mt-12">
            <div class="font-semibold above-lg:text-7xl text-3xl tracking-tight	">
                Maize Design</div>
            <div class="text-industrial-yellow uppercase above-lg:mt-6 mt-2">HX, HI, Frontend Development</div>
            <div class="max-w-lg mt-8">vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur
                libero id faucibus nisl tincidunt eget nullam non nisi est sit amet facilisis magna etiam tempor orci eu
                lobortis elementum nibh tellus molestie nunc non blandit massa enim nec.</div>
            <a href="/works" class="link mt-14 inline-block	">View case study <span
                    class="text-xl">&LongRightArrow;</span></a>
        </div>
    </article>

    <article class="w-full mt-16 flex above-lg:flex-row-reverse flex-col">
        <div class="w-5/12 lg:w-full">
            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 913.857 1005.286">
                <defs>
                    <filter id="Rectangle_693" x="355.857" y="66.286" width="467" height="742"
                        filterUnits="userSpaceOnUse">
                        <feOffset dx="-10" dy="10" input="SourceAlpha" />
                        <feGaussianBlur result="blur" />
                        <feFlood flood-color="#ffeae6" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                </defs>
                <g id="second-item" transform="translate(-1006.143 -2742.857)">
                    <g id="Rectangle_688" data-name="Rectangle 688" transform="translate(1189 2742.857)" fill="#fee"
                        stroke="#fee" stroke-width="1">
                        <rect width="731" height="731" stroke="none" />
                        <rect x="0.5" y="0.5" width="730" height="730" fill="none" />
                    </g>
                    <g id="Rectangle_689" data-name="Rectangle 689" transform="translate(1006.143 3017.143)" fill="#fee"
                        stroke="#fee" stroke-width="1">
                        <rect width="731" height="731" stroke="none" />
                        <rect x="0.5" y="0.5" width="730" height="730" fill="none" />
                    </g>
                    <rect id="Rectangle_692" data-name="Rectangle 692" width="457" height="732"
                        transform="translate(1097.143 2900)" fill="#181917" />
                    <g transform="matrix(1, 0, 0, 1, 1006.14, 2742.86)" filter="url(#Rectangle_693)">
                        <rect id="Rectangle_693-2" data-name="Rectangle 693" width="457" height="732"
                            transform="translate(365.86 66.29)" fill="#181917" />
                    </g>
                </g>
            </svg>

        </div>
        <div class="above-lg:mt-28 above-lg:mr-20 mx-4 mt-12 above-lg:text-right">
            <div class="font-semibold above-lg:text-7xl text-3xl">
                Toco Toco</div>
            <div class="text-industrial-yellow uppercase above-lg:mt-6 mt-2">HX, HI</div>
            <div class="max-w-lg mt-8">imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor leo a diam
                sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet risus
                nullam eget felis eget nunc lobortis mattis aliquam faucibus purus.</div>
            <a href="/works" class="link mt-14">View case study <span class="text-xl">&LongRightArrow;</span>
            </a>
        </div>
    </article>

    <article class="w-full mt-16 flex flex-row lg:flex-col mb-16">
        <div class="w-5/12 lg:w-full">
            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 914.286 1005.286">
                <defs>
                    <filter id="Rectangle_690" x="91" y="91" width="467" height="742" filterUnits="userSpaceOnUse">
                        <feOffset dx="10" dy="10" input="SourceAlpha" />
                        <feGaussianBlur result="blur" />
                        <feFlood flood-color="#ffeae6" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                </defs>
                <g id="first-item" transform="translate(0 -1646.143)">
                    <g id="Rectangle_686" data-name="Rectangle 686" transform="translate(0 1646.143)" fill="#fee"
                        stroke="#fee" stroke-width="1">
                        <rect width="731" height="731" stroke="none" />
                        <rect x="0.5" y="0.5" width="730" height="730" fill="none" />
                    </g>
                    <g id="Rectangle_687" data-name="Rectangle 687" transform="translate(183.286 1920.429)" fill="#fee"
                        stroke="#fee" stroke-width="1">
                        <rect width="731" height="731" stroke="none" />
                        <rect x="0.5" y="0.5" width="730" height="730" fill="none" />
                    </g>
                    <image id="test3" preserveAspectRatio="xMidYMax slice"
                        href="/static/9e22313598bc368a2aa4e02c0734de98.webp" width="457" height="732"
                        transform="translate(365.857 1828)" />
                    <g id="testt" transform="matrix(1, 0, 0, 1, 0, 1646.14)" filter="url(#Rectangle_690)">
                        <image preserveAspectRatio="xMidYMin slice" href="/static/9e22313598bc368a2aa4e02c0734de98.webp"
                            width="457" height="732" transform="translate(91 91)" fill="#181917" />
                    </g>
                </g>
            </svg>


        </div>
        <div class="above-lg:mt-28 above-lg:ml-20 mx-4 mt-12">
            <div class="font-semibold above-lg:text-7xl text-3xl tracking-tight	">
                Lavean</div>
            <div class="text-industrial-yellow uppercase above-lg:mt-6 mt-2">HX, HI, Frontend Development</div>
            <div class="max-w-lg mt-8">vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur
                libero id faucibus nisl tincidunt eget nullam non nisi est sit amet facilisis magna etiam tempor orci eu
                lobortis elementum nibh tellus molestie nunc non blandit massa enim nec.</div>
            <a href="/works" class="link mt-14 inline-block	">View case study <span
                    class="text-xl">&LongRightArrow;</span></a>
        </div>
    </article>

    <article class="w-full mt-16 flex above-lg:flex-row-reverse flex-col">
        <div class="w-5/12 lg:w-full">
            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 913.857 1005.286">
                <defs>
                    <filter id="Rectangle_693" x="355.857" y="66.286" width="467" height="742"
                        filterUnits="userSpaceOnUse">
                        <feOffset dx="-10" dy="10" input="SourceAlpha" />
                        <feGaussianBlur result="blur" />
                        <feFlood flood-color="#ffeae6" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                </defs>
                <g id="second-item" transform="translate(-1006.143 -2742.857)">
                    <g id="Rectangle_688" data-name="Rectangle 688" transform="translate(1189 2742.857)" fill="#fee"
                        stroke="#fee" stroke-width="1">
                        <rect width="731" height="731" stroke="none" />
                        <rect x="0.5" y="0.5" width="730" height="730" fill="none" />
                    </g>
                    <g id="Rectangle_689" data-name="Rectangle 689" transform="translate(1006.143 3017.143)" fill="#fee"
                        stroke="#fee" stroke-width="1">
                        <rect width="731" height="731" stroke="none" />
                        <rect x="0.5" y="0.5" width="730" height="730" fill="none" />
                    </g>
                    <rect id="Rectangle_692" data-name="Rectangle 692" width="457" height="732"
                        transform="translate(1097.143 2900)" fill="#181917" />
                    <g transform="matrix(1, 0, 0, 1, 1006.14, 2742.86)" filter="url(#Rectangle_693)">
                        <rect id="Rectangle_693-2" data-name="Rectangle 693" width="457" height="732"
                            transform="translate(365.86 66.29)" fill="#181917" />
                    </g>
                </g>
            </svg>

        </div>
        <div class="above-lg:mt-28 above-lg:mr-20 mx-4 mt-12 above-lg:text-right">
            <div class="font-semibold above-lg:text-7xl text-3xl">
                Toco Toco</div>
            <div class="text-industrial-yellow uppercase above-lg:mt-6 mt-2">HX, HI</div>
            <div class="max-w-lg mt-8">imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor leo a diam
                sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet risus
                nullam eget felis eget nunc lobortis mattis aliquam faucibus purus.</div>
            <a href="/works" class="link mt-14">View case study <span class="text-xl">&LongRightArrow;</span>
            </a>
        </div>
    </article>
</section>
<div class="w-4/5 mx-auto">
    {{ layoutContent | safe }}
</div>