@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-Black.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-Black.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-Black.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-Black.svg#HelveticaNowDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-ExtraBold.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-ExtraBold.svg#HelveticaNowDisplay-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-Bold.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-Bold.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-Bold.svg#HelveticaNowDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay ExtraBlack';
    src: url('/static/type/HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-ExtBlk.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-ExtBlk.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-ExtBlk.svg#HelveticaNowDisplay-ExtBlk') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-ExtLt.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-ExtLt.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-ExtLt.svg#HelveticaNowDisplay-ExtLt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-Regular.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-Regular.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-Regular.svg#HelveticaNowDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-Medium.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-Medium.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-Medium.svg#HelveticaNowDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-Light.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-Light.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-Light.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-Light.svg#HelveticaNowDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-BoldIta.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-BoldIta.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-BoldIta.svg#HelveticaNowDisplay-BoldIta') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-Thin.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-Thin.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-Thin.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-Thin.svg#HelveticaNowDisplay-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay ExtraBlack';
    src: url('/static/type/HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-ExtBlkIta.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-ExtBlkIta.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-ExtBlkIta.svg#HelveticaNowDisplay-ExtBlkIta') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-ExtBdIta.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-ExtBdIta.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-ExtBdIta.svg#HelveticaNowDisplay-ExtBdIta') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-BlackIta.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-BlackIta.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-BlackIta.svg#HelveticaNowDisplay-BlackIta') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-MedIta.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-MedIta.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-MedIta.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-MedIta.svg#HelveticaNowDisplay-MedIta') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-ExtLtIta.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-ExtLtIta.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-ExtLtIta.svg#HelveticaNowDisplay-ExtLtIta') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-RegIta.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-RegIta.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-RegIta.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-RegIta.svg#HelveticaNowDisplay-RegIta') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-ThinIta.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-ThinIta.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-ThinIta.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-ThinIta.svg#HelveticaNowDisplay-ThinIta') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/static/type/HelveticaNowDisplay-LightIta.woff2') format('woff2'),
        url('/static/type/HelveticaNowDisplay-LightIta.woff') format('woff'),
        url('/static/type/HelveticaNowDisplay-LightIta.ttf') format('truetype'),
        url('/static/type/HelveticaNowDisplay-LightIta.svg#HelveticaNowDisplay-LightIta') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply bg-lead;
    }

    /* Typography */

    h1 {
        @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-tight leading-none my-4 text-lead;
    }

    h2 {
        @apply text-2xl tracking-tight leading-tight	mb-2 mt-3;
    }

    h3 {
        @apply text-base tracking-tight font-semibold leading-none mb-2 mt-3;
    }

    h4 {
        @apply text-sm tracking-tight font-bold leading-none mb-1 mt-2;
    }

    .primaryBtn {
        @apply bg-transparent py-2 px-10 rounded-none border-2 border-ivory text-ivory text-lg capitalize inline-block focus:ring-2 ring-offset-lead ring-ivory ring-offset-2;
    }

    .dark.primaryBtn {
        @apply bg-lead py-2 px-10 rounded-none border-2 border-ivory text-ivory text-lg capitalize inline-block focus:ring-2 ring-offset-lead ring-ivory ring-offset-2;
    }

    .circularBtn {
        @apply bg-lead text-ivory text-xl lg:text-2xl text-center tracking-tight leading-snug p-4 lg:p-8 w-32 lg:w-44 h-32 lg:h-44 rounded-full grid place-items-center transform hover:scale-100	;
    }

    .servicesIcon {
        @apply absolute w-20 -translate-x-2 sm:-translate-x-8 -translate-y-12 pointer-events-none;
    }

    .no-list {
        @apply list-none p-0 my-0;
    }

    .sectionMargin {
        @apply mt-16 lg:mt-24 mb-0;
    }
}


@layer utilities {

    :root {
        --ivory: #FFF5E9;
        --lead: #121211;
        --sunglow: #121211;
        --brass: #CD7A29;
    }
    

    
    *, *:before, *:after {
      box-sizing: border-box;
      -webkit-tap-highlight-color: #cd7b2928;
    }

    html * {
        scroll-margin-top: 17rem;
    }
    
    html,
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        overflow-x: hidden;
    }

    *::-webkit-scrollbar {
    width: 0.5rem;
    height: 10px;
    }

    *::-webkit-scrollbar-thumb {
    background: #121211;
    }

    *::-webkit-scrollbar-track {
    background: #FFF5E9;
    }

    #navbar {
        transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

      .credit {
        position: relative;
        display: block;
        cursor: pointer;
    }

    main ul {
        list-style-type: disc;
        padding-left: 2.5em;
        margin: 1.5em 0;
        display: inline-block;
      }

    main ul.noPadding  {
        padding-left: 0px !important;
    }

    main li {
        width: fit-content;
    }

    input {
        border-radius: 0px !important;
        outline: none !important;
    }

    section:first-of-type {
        margin-top: 0px !important; 
    }

    .credit::after {
        content: '';
        position: absolute;
        bottom: 0em;
        right: 0;
        width: 7ch;
        height: 0.1em;
        background-color: #FFF5E9;
        transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .credit:hover::after,
    .credit:focus::after,
    .linkAnime:hover::after,
    .linkAnime:focus::after {
        width: 100%;
    }

    .linkAnime {
        position: relative;
        cursor: pointer;
    }

    .linkAnime::after {
        content: '';
        position: absolute;
        bottom: -0.2em;
        left: 0;
        width: 70%;
        height: 0.1em;
        background-color: #121211;
        transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .servicesCard:hover .linkAnime::after {
        width: 100%;
    }


    .rotate-again.circularBtn {
        transform: rotate(-10deg);
    }

    .circularBtn {
        transition: all 200ms ease-in-out 0s;
        transform: rotate(10deg);
    }

    .circularBtn:hover {
        transform: rotate(10deg) scale(1.1);
        box-shadow: 0 0 red 0 red;
    }

    .rotate-again.circularBtn:hover {
        transform: rotate(-10deg) scale(1.1);
    }

    .dragVisual {
        transform: translate(-50%, -50%);
        transition: opacity 70ms cubic-bezier(0.4, 0, 1, 1);
    }

    @media  (max-width: 768px) {
        .dragVisual {
            display: none !important;
        }
    }

    .services li:last-of-type {
        margin-bottom: 0px;
    }

    img {
        width: 100%;
        height: auto;
      }

      .nav__open #navModal {
        opacity: 1;
        pointer-events: all;
      }

      .nav__open {
          overflow: hidden;
      }

      #navModal {
        opacity: 0;
        pointer-events: none;
        transition: opacity 70ms ease-in-out;
      }

      .navModalGrid {
        display: grid;
        grid-template-rows: 1fr auto auto;
        row-gap: 1rem;
      }

      /* Hamburger styles */
      .line{transition:opacity 20ms cubic-bezier(.4,0,.2,1);transform-origin:center left}.line1,.line2{transition:transform 20ms cubic-bezier(.4,0,.2,1)}.ham{transform:translateX(0);transition:transform .1s cubic-bezier(.4,0,1,1) 20ms,opacity 20ms cubic-bezier(.4,0,1,1);opacity:1}.cross{transform:translateX(-80%);transition:transform .1s cubic-bezier(.4,0,1,1) 20ms,opacity 20ms cubic-bezier(.4,0,1,1);opacity:0}.nav__open .ham{transform:translateX(100%);opacity:0}.nav__open .cross{transform:translateX(0);opacity:1}

      @media (min-width: 1024px) {  
        .servicesCard {
            flex-basis: 40%;
        }
       }
       .heroImg::before {
        content: "";
        position: absolute;
        background-image: linear-gradient(-90deg, #121211 0%, #121211 30.33%, #121211 60.699999999999996%, rgba(18, 18, 17, 0) 100%);
        width: 30vw;
        height: calc(100% + 20vh);
        margin-top: -10vh;
        z-index: -1;
        left: 0;
        margin-left: -12vw;
    }

    @media (max-width: 1024px) {
        .heroImg::before {
            display: none;
        }
    }
}